* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', 'sans-serif';
}

picture {
  display: contents;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: auto;

  &__inner {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('../img/header-bg.png');
  background-size: cover;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
  }

  &__subtitle-link {
    color: firebrick;
  }
}

.top-bar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, .5);

  &__logo {
    display: inline-block;
  }

  &__icon {
    width: 100px;
    height: 30px;
  }

  &__checkbox {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &__button {
    position: relative;
    right: 3px;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 35px;
    height: 24px;
    cursor: pointer;
  }

  &__row {
    width: 100%;
    height: 4px;
    background-color: firebrick;  
    
    &:before {
      position: absolute;
      content: '';
      display: flex;
      width: 100%;
      height: 4px;
      background-color: firebrick;
    }

    &:after {
      position: absolute;
      content: '';
      display: flex;
      background-color: firebrick;
      width: 100%;
      height: 4px;     
    }
  }

  &__checkbox:checked ~ .nav {
    right: 0;
  }

  &__checkbox:checked ~ .top-bar__button {
    position: fixed;
    right: 13px;
  }

  &__checkbox:checked ~ .top-bar__button .top-bar__row {
    margin-top: 0;
    animation-name: menuOpened_row;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-delay: .4s;
  }

  &__checkbox:checked ~ .top-bar__button .top-bar__row::before {
    margin-top: 0;
    transition-property: margin;
    transition-duration: .2s;
    animation-name: menuOpened_rowBefore;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-delay: .4s;
  }

  &__checkbox:checked ~ .top-bar__button .top-bar__row::after {
    margin-top: 0;
    transition-property: margin;
    transition-duration: .2s;
    animation-name: menuOpened_rowBefore;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-delay: .4s;
  }

  &__checkbox:not(checked) ~ .top-bar__button .top-bar__row {
    animation-name: menuClosed_row;
    animation-duration: .2s;
    animation-delay: 0;
  }

  &__checkbox:not(checked) ~ .top-bar__button .top-bar__row::before {
    margin-top: 8px;
    transition-property: margin;
    transition-delay: .2s;
    transition-duration: .2s;
    animation-name: menuClosed_rowBefore;
    animation-duration: .2s;
    animation-delay: 0;
  }

  &__checkbox:not(checked) ~ .top-bar__button .top-bar__row::after {
    margin-top: -8px;
    transition-property: margin;
    transition-delay: .2s;
    transition-duration: .2s;
    animation-name: menuClosed_rowAfter;
    animation-duration: .2s;
    animation-delay: 0;
  }
}

@keyframes menuOpened_row {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes menuOpened_rowBefore {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes menuOpened_rowAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    display: none;
  }
}

@keyframes menuClosed_row {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes menuClosed_rowBefore {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes menuClosed_rowAfter {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  transition-property: right;
  transition-duration: .2s;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 15px 5px rgba(22, 22, 22, 0.5);

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 20%;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 15px;
    font-size: 20px;

    &:first-child {
      margin: 0;
    }
  }

  &__link {
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
      color: firebrick;
    }
  }
}

.about {
  width: 100%;

  &__inner {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    background-color: lightgrey;
  }

  &__title {
    margin: 30px 0;
    font-size: 32px;
    text-align: center;
  }

  &__content {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__properties {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0 10px;
    margin-top: 10px;
  }

  &__button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: firebrick;
  }

  &__up {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 100%;
  }
}

.works {
  display: inline-block;
  width: 100%;
  background-color: cadetblue;
  
  &__inner {
    width: 100%;
  }

  &__title {
    font-size: 32px;
    text-align: center;
    margin: 30px 0;
  }

  &__list {
    width: calc(100% - 20px);
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px auto;
    padding: 0px;
    background-color: white;
    border-radius: 20px;

    &:first-child {
      margin: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      opacity: 1;
      transition: all .2s linear;
    }

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
    }

    &:hover::before {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__name {
    padding: 0 5px;
  }

  &__url {
    padding: 0 5px;
  }

  &__adaptive {
    padding: 0 5px;
  }

  &__browsers {
    display: flex;
    align-items: center;
    padding: 0 5px 15px 5px;
    b {
      margin-right: 10px;
    }
  }

  &__img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    min-height: 120px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
  }
}

.testimonials {
  width: 100%;

  &__inner {
    display: inline-block;
    width: 100%;
    background-color: darkslategray;
  }

  &__title {
    font-size: 32px;
    margin: 30px 0;
    text-align: center;
  }

  &__list {
    padding: 0;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}

.footer {
  width: 100%;

  &__inner {
    width: 100%;
    background-color: dimgray;
    text-align: center;
    padding: 30px 10px;
  }

  &__title {
    font-size: 25px;
    margin: 30px 0;
    font-weight: 400;
  }

  &__logo {
    display: inline-block;
  }

  &__img {
    width: 150px;
    height: 100px;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-top: 25px;
  }

  &__icon {
    width: 35px;
    height: 35px;
    transition: all .2s linear;

    &:first-child {
      margin: 0;
    }

    &:hover {
      fill: firebrick;
    }
  }
}

@media (min-width: 720px) {
  .top-bar {
    &__button {
      display: none;
    }
  }

  .nav {
    position: relative;
    right: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    transition-property: position;
    transition-duration: 0;
    box-shadow: none;

    &__menu {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    &__item {
      padding: 0;
      margin-top: 0;
      margin-right: 15px;

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .header {
    align-items: flex-end;
    
    &__block {
      margin-right: 40px;
    }

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  .about {
    &__content {
      display: flex;
    }

    &__img {
      width: 50%;
    }

    &__item {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 10%;
    }
  }
  
  .works {
    padding-bottom: 30px;
    
    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      width: calc(100% - 20px);
      margin: 0 auto;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: calc(50% - 20px);
      height: auto;
      padding: 0;
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 0;
  
      &:first-child {
        margin-top: 0;
        margin-right: 30px;
      }

      &:nth-child(2) {
        margin-top: 0;
        margin-right: 0;
      }

      &:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
      }

      &:nth-child(5) {
        margin: 30px 30px 0 0;
      }
    }

    &__info {
      margin-top: auto;
    }

    &__browsers {
      display: flex;
      align-items: center;
      padding-bottom: 0;

      b {
        margin-right: 5px;
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

  .footer {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 70px;
    }

    &__title {
      margin: 0;
    }

    &__contacts {
      display: flex;
      flex-direction: row;
      width: auto;
    }

    &__title {
      margin-top: 0;
      margin-right: 15px;
    }

    &__list {
      display: flex;
      margin: 0;
    }

    &__item {
      margin-top: 0;
      margin-right: 15px;
    }

    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}

@media (min-width: 1041px) {
  .top-bar {
    padding: 0 50px;
  }

  .about {
    &__content {
      width: 1024px;
      margin: 0 auto;
    }

    &__item {
      font-size: 24px;
    }
  }

  .works {
    &__list {
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 1024px;
    }

    &__item {
      width: calc(33.3333% - 20px);
      height: auto;
      margin-right: 30px;

      &:first-child {
        margin-right: 30px;
      }

      &:nth-child(2) {
        margin-right: 30px;
        margin-left: 0;
      }

      &:nth-child(3) {
        margin-top: 0;
        margin-right: 0;
      }

      &:nth-child(4) {
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 0;
      }

      &:last-child {
        margin-top: 30px;
      }
    }
    
    &__info {
      padding: 0 5px;
    }

    &__browsers {
      padding-bottom: 0;
    }
  }
}